{% extends "base.html.twig" %}
{% block body %}
	<div class="container-fluid">
		<p><a href='{{ path('homepage') }}'>Ga terug naar homepage</a></p>

		<div id="logo">
			<a href='{{ path('homepage') }}'><img src='{{ asset('images/Logo klein.png') }}' class="img-border"></a>
		</div>
		<div id="contentwrapper">
			<div id="content">
				<p><h2>Algemene voorwaarden</h2></p>

				<p><h3>Voorwaarden van Varisho</h3></p>

				<p><!--Laatst aangepast:-->09 juni 2017 <!--(Bekijk archief)--></p> 

				<p><h3>Welkom bij Varisho!</h3></p>

				<p>Hartelijk dank dat u onze diensten gebruikt. De diensten worden geleverd door Varisho.</p> 

				<p>Door onze diensten te gebruiken, gaat u akkoord met deze voorwaarden. Lees de voorwaarden zorgvuldig door.</p> 

				<p>Onze diensten zijn gevarieerd. Daarom kunnen soms aanvullende voorwaarden of productvereisten (waaronder leeftijdsvereisten) van toepassing zijn. Aanvullende voorwaarden zijn beschikbaar bij de betreffende diensten en deze aanvullende voorwaarden maken deel uit van uw overeenkomst met ons als u de betreffende diensten gebruikt.</p> 

				<p><h3>Onze diensten gebruiken</h3></p>

				<p>U moet alle beleidsregels naleven die in de diensten worden weergegeven.</p> 

				<p>Misbruik onze diensten niet. Verstoor onze diensten bijvoorbeeld niet en probeer de diensten niet te openen via een andere methode dan de interface en de instructies die we leveren. U mag onze diensten alleen gebruiken op de wettelijk toegestane wijze, van toepassing zijnde wet- en regelgeving met betrekking tot exporteren en herexporteren daaronder begrepen. We kunnen de levering van onze diensten aan u opschorten of stopzetten als u niet voldoet aan onze voorwaarden of ons beleid of als we vermeend wangedrag onderzoeken.</p> 

				<p>Door uw gebruik van onze diensten verkrijgt u niet automatisch intellectuele-eigendomsrechten op onze diensten of de inhoud die u opent. U mag inhoud uit onze diensten niet gebruiken, tenzij u toestemming krijgt van de eigenaar van de inhoud of dit anderszins wettelijk is toegestaan. Deze voorwaarden verlenen u niet het recht de merken of logo’s te gebruiken die in onze diensten worden gebruikt. U mag de juridische informatie die in of bij onze diensten wordt weergegeven, niet verwijderen, onleesbaar maken of aanpassen.</p> 

				<p>In onze diensten wordt bepaalde inhoud weergegeven die geen eigendom is van Varisho. De entiteit die de inhoud beschikbaar stelt, is als enige verantwoordelijk voor die inhoud. We kunnen inhoud beoordelen om na te gaan of deze illegaal is of ons beleid schendt en we kunnen inhoud waarvan we redelijkerwijs hebben vastgesteld dat deze ons beleid of de wet schendt, verwijderen of niet weergeven. Dit betekent echter niet noodzakelijkerwijs dat we inhoud beoordelen, ga er daarom niet vanuit dat we dit doen.</p> 

				<p>We kunnen u serviceaankondigingen, administratieve berichten en andere informatie sturen in verband met uw gebruik van de diensten. U kunt zich afmelden voor sommige van deze berichten.</p> 

				<p>Sommige van onze diensten zijn beschikbaar op mobiele apparaten. Gebruik dergelijke diensten niet op een manier waardoor u wordt afgeleid of waardoor u zich niet kunt houden aan de geldende verkeers- of veiligheidsregels.</p> 

				<p><h3>Uw Varisho-account</h3></p>

				<p>U heeft mogelijk een Varisho-account nodig om sommige van onze diensten te gebruiken. U kunt uw eigen Varisho-account maken of er kan een Varisho-account aan u worden toegewezen door een beheerder. Als u een Varisho-account gebruikt dat door een beheerder aan u is toegewezen, kunnen andere of aanvullende voorwaarden van toepassing zijn en kan uw beheerder mogelijk toegang krijgen tot uw account of uw account uitschakelen.</p> 

				<p>Bewaar uw wachtwoord vertrouwelijk om uw Varisho-account te beschermen. U bent verantwoordelijk voor de activiteiten die plaatsvinden op of via uw Varisho-account. Gebruik het wachtwoord voor uw Varisho-account niet voor applicaties van derden. Als u niet-geautoriseerd gebruik van uw wachtwoord of Varisho-account opmerkt, voert u deze instructies uit.</p> 

				<p><h3>Bescherming van privacy en auteursrecht</h3></p>

				<p>In het Privacybeleid van Varisho wordt uitgelegd hoe we omgaan met uw persoonlijke gegevens en hoe we uw privacy beschermen wanneer u onze diensten gebruikt. Door onze diensten te gebruiken, gaat u ermee akkoord dat Varisho die gegevens mag gebruiken in overeenstemming met onze privacybeleidsregels.</p> 

				<p>We reageren op kennisgevingen van vermeende schending van auteursrechten en beëindigen accounts van personen die herhaaldelijk auteursrechten schenden, in overeenstemming met het proces dat is uiteengezet in de Amerikaanse Digital Millennium Copyright Act.</p> 

				<p>We verstrekken informatie om auteursrechthouders te helpen hun intellectuele eigendom online te beheren. Als u van mening bent dat iemand uw auteursrechten schendt en ons hiervan op de hoogte wilt stellen, kunt u informatie over het indienen van auteursrechtklachten en het beleid van Varisho inzake het reageren op dergelijke auteursrechtklachten via contact.</p> 

				<p><h3>Uw inhoud in onze diensten</h3></p>

				<p>Sommige van onze diensten staan u toe inhoud te uploaden, toe te voegen, op te slaan, te verzenden of te ontvangen. U behoudt alle intellectuele-eigendomsrechten die u met betrekking tot die inhoud heeft. Kort gezegd: wat van u is, blijft van u.</p> 

				<p>Wanneer u inhoud uploadt naar, toevoegt aan, opslaat in, verzendt naar of ontvangt in of via onze diensten, verleent u Varisho (en degenen met wie we samenwerken) een wereldwijde licentie om dergelijke inhoud te gebruiken, te hosten, op te slaan, te reproduceren, aan te passen, afgeleide werken daarvan te maken (zoals afgeleide werken als gevolg van vertalingen, aanpassingen of andere wijzigingen die we aanbrengen om ervoor te zorgen dat uw inhoud beter werkt met onze diensten), te communiceren, te publiceren, openbaar uit te voeren, openbaar weer te geven en te distribueren. De rechten die u verleent in deze licentie, zijn bedoeld voor het beperkte doel om onze diensten uit te voeren, te promoten en te verbeteren en om nieuwe diensten te ontwikkelen. Deze licentie behoudt haar geldigheid, ook als u uw gebruik van onze diensten staakt. Bepaalde diensten kunnen u mogelijkheden bieden om toegang te verkrijgen tot inhoud die aan de betreffende dienst is toegevoegd en deze te verwijderen. Bovendien bevatten sommige van onze diensten voorwaarden of instellingen die de reikwijdte van ons gebruik van inhoud die is toegevoegd aan die diensten verder beperken. Controleer of u over alle benodigde rechten beschikt om ons deze licentie te verlenen voor alle inhoud die u toevoegt aan onze diensten.</p> 

				<p>Onze geautomatiseerde systemen analyseren uw inhoud (inclusief e-mails) om voor u relevante productfuncties te leveren, zoals aangepaste zoekresultaten, advertenties op maat en spam- en malwaredetectie. Deze analyse vindt plaats wanneer de inhoud wordt verzonden, ontvangen en opgeslagen.</p> 

				<p>Als u een Varisho-account heeft, kunnen we uw profielnaam, profielfoto en acties die u uitvoert op Varisho of in applicaties van derden die zijn gekoppeld aan uw Varisho-account weergeven in onze Services, waaronder weergave in advertenties en andere commerciële situaties. We rescpecteren hierbij ons privacybeleid.</p>

				<p>Meer informatie over hoe Varisho inhoud gebruikt en opslaat, kunt u vinden in het privacybeleid of in de aanvullende voorwaarden voor bepaalde diensten. Als u feedback of suggesties voor onze diensten indient, kunnen we uw feedback of suggesties gebruiken zonder enige verplichting aan u.</p> 

				<p><h3>Over software in onze diensten</h3></p>

				<p>Wanneer een dienst downloadbare software vereist of bevat, kan deze software automatisch worden bijgewerkt op uw apparaat wanneer een nieuwe versie of functie beschikbaar komt. Voor sommige diensten kunt u de instellingen voor automatische updates aanpassen.</p> 

				<p>Varisho verleent u een persoonlijke, wereldwijde, royaltyvrije, niet-overdraagbare en niet-exclusieve licentie om de software te gebruiken die Varisho aan u levert als onderdeel van de diensten. Deze licentie wordt u uitsluitend verstrekt om u in staat te stellen de door Varisho geleverde diensten te gebruiken en te benutten, op een wijze die voldoet aan deze voorwaarden. U mag geen enkel deel van onze diensten of bijgeleverde software kopiëren, aanpassen, verspreiden, verkopen of leasen, en u mag de broncode van die software niet onderwerpen aan reverse-engineering of proberen deze te extraheren, tenzij dergelijke beperkingen bij de wet zijn verboden of u onze schriftelijke toestemming heeft gekregen.</p> 

				<p>Open source-software is belangrijk voor ons. Bepaalde software die wordt gebruikt in onze diensten, kan worden aangeboden onder een open source-licentie die we beschikbaar stellen aan u. De open source-licentie kan bepalingen bevatten die voorrang hebben boven sommige van deze voorwaarden.</p> 

				<p><h3>Onze diensten aanpassen en beëindigen</h3></p>

				<p>We zijn voortdurend bezig onze diensten aan te passen en te verbeteren. We kunnen functies of mogelijkheden toevoegen of verwijderen. Ook kunnen we een dienst opschorten of zelfs volledig stopzetten.</p> 

				<p>U kunt uw gebruik van onze diensten op elk gewenst moment stopzetten, maar we zouden het jammer vinden als u ons verlaat. Varisho kan ook op elk gewenst moment de levering van diensten aan u stopzetten of nieuwe beperkingen toevoegen aan of instellen voor onze diensten.</p> 

				<p>We zijn van mening dat uw gegevens uw eigendom zijn en dat het behouden van uw toegang tot dergelijke gegevens belangrijk is. Als we een dienst stopzetten, geven we, waar redelijkerwijs mogelijk is, u een redelijke waarschuwing vooraf en de mogelijkheid informatie uit die dienst te halen.</p> 

				<p><h3>Onze garanties en voorbehouden</h3></p>

				<p>We leveren onze diensten met een commercieel redelijke mate van vakkundigheid en zorgvuldigheid en we hopen dat u de diensten graag zult gebruiken. Er zijn echter bepaalde beloften die we niet doen met betrekking tot onze diensten.</p> 

				<p>Anders dan uitdrukkelijk uiteengezet in deze voorwaarden of aanvullende voorwaarden, doen Varisho en zijn leveranciers of distributeurs geen specifieke beloften voor de diensten. We doen bijvoorbeeld geen toezeggingen over de inhoud in de diensten, de specifieke functionaliteit van de diensten en de betrouwbaarheid, beschikbaarheid of mogelijkheid van de diensten om te voldoen aan uw behoeften. We leveren de diensten als zodanig (‘as is’).</p> 

				<p>Sommige rechtsgebieden stellen voorwaarden aan bepaalde garanties, zoals de impliciete garantie van verhandelbaarheid, geschiktheid voor een bepaald doel en niet-inbreukmakendheid. Voor zover wettelijk toegestaan, sluiten we alle garanties uit.</p> 

				<p><h3>Aansprakelijkheid voor onze diensten</h3></p>

				<p>Indien wettelijk toegestaan, zijn Varisho en de leveranciers en distributeurs van Varisho niet aansprakelijk voor verlies van winst, inkomsten of gegevens, financiële verliezen of indirecte, speciale, morele of punitieve schade of gevolgschade.</p> 

				<p>Voor zover wettelijk toegestaan, is de totale aansprakelijkheid van Varisho en zijn leveranciers en distributeurs voor een claim onder deze voorwaarden, inclusief voor enige impliciete garantie, beperkt tot het bedrag dat u ons heeft betaald voor het gebruik van de diensten (of, als we daarvoor kiezen, tot het opnieuw leveren van de diensten aan u).</p> 

				<p>In alle gevallen zijn Varisho en zijn leveranciers en distributeurs niet aansprakelijk voor verlies of schade die niet redelijkerwijs kan worden verwacht.</p> 

				<p>We erkennen dat u in sommige landen wettelijke rechten kunt hebben als consument. Als u de diensten gebruikt voor persoonlijke doeleinden, beperkt niets in deze voorwaarden of eventuele aanvullende voorwaarden de wettelijke rechten van consumenten waarvan geen afstand kan worden gedaan door middel van een contract.</p> 

				<p><h3>Zakelijk gebruik van onze diensten</h3></p>

				<p>Als u onze diensten namens een bedrijf gebruikt, accepteert dat bedrijf deze voorwaarden. Het bedrijf zal Varisho en zijn partners, vertegenwoordigers, agenten en medewerkers vrijwaren van en schadeloosstellen tegen claims, rechtszaken of processen die voortvloeien uit of zijn gerelateerd aan het gebruik van de diensten of schending van deze voorwaarden, inclusief aansprakelijkheid of kosten voortvloeiend uit alle claims, verliezen, schade, rechtszaken, vonnissen, proceskosten en advocatenkosten.</p> 

				<p><h3>Over deze Voorwaarden</h3></p>

				<p>We kunnen deze voorwaarden, of eventuele aanvullende voorwaarden die van toepassing zijn op een dienst, aanpassen bijvoorbeeld om wijzigingen in de wet of wijzigingen in onze diensten te weerspiegelen. U moet deze voorwaarden regelmatig bekijken. We posten wijzigingen in deze voorwaarden op deze pagina. Wijzigingen worden niet met terugwerkende kracht toegepast en worden niet eerder van kracht dan veertien dagen nadat ze zijn gepost. Wijzigingen als gevolg van nieuwe functies voor een dienst of wijzigingen die om juridische redenen worden aangebracht, worden echter onmiddellijk van kracht. Als u niet akkoord gaat met de aangepaste voorwaarden voor een dienst, moet u uw gebruik van die dienst beëindigen.</p> 

				<p>Als er een conflict tussen deze voorwaarden en de aanvullende voorwaarden ontstaat, zijn de aanvullende voorwaarden van toepassing op dat conflict.</p> 

				<p>Deze voorwaarden beheersen de relatie tussen Varisho en u. Aan de voorwaarden kunnen geen rechten voor derde begunstigden worden ontleend.</p> 

				<p>Als u niet voldoet aan deze voorwaarden en we niet onmiddellijk actie ondernemen, betekent dit niet dat we afstand doen van eventuele rechten waarover we beschikken (zoals het recht om in de toekomst actie te ondernemen).</p> 

				<p>Als blijkt dat een bepaalde voorwaarde niet uitvoerbaar is, is dit niet van invloed op de andere voorwaarden.</p> 

				<p>De rechtbanken in sommige landen passen de wetten van België niet toe op bepaalde soorten geschillen. Als u in een van die landen woont, zijn in gevallen waar de wetten van België niet worden toegepast, de wetten van uw land van toepassing op dergelijke geschillen die zijn gerelateerd aan deze voorwaarden. Anders gaat u ermee akkoord dat het recht van de Belgische staat , met uitzondering van de regels inzake internationaal privaatrecht van Europa, voor zover wettelijk toegestaan van toepassing is op alle geschillen die voortvloeien uit of verband houden met, deze voorwaarden of de diensten. Als de rechtbanken in uw land u niet toestaan in te stemmen met de jurisdictie en locatie van de rechtbanken in Antwerpen, België, zijn uw lokale jurisdictie en locatie van toepassing op dergelijke geschillen die zijn gerelateerd aan deze voorwaarden. Anders zullen alle rechtszaken met betrekking tot claims die voortvloeien uit of verband houden met deze voorwaarden of de diensten, exclusief worden gevoerd in de federale of staatsrechtbanken van Antwerpen, België, en stemmen u en Varisho in met de bevoegdheid van die rechtbanken.</p>
			</div>
		</div>
		<p><a href='{{ path('homepage') }}'>Ga terug naar homepage</a></p>
	</div>
{% endblock %}