{% extends "base.html.twig" %}
{% block body %}
	<div class="container-fluid">
		<p><a href='{{ path('homepage') }}'>Ga terug naar homepage</a></p>

		<div id="logo">
			<a href='{{ path('homepage') }}'><img src='{{ asset('images/Logo klein.png') }}' class="img-border"></a>
		</div>
		<div id="contentwrapper">
			<div id="content">
				<p><h2>Internetbezoek volgen met cookies</h2></p>

				<p><!--Laatst aangepast:-->09 juni 2017 <!--(Bekijk archief)--></p>

				<p>Informatie over uw websitebezoek kan samen met uw persoonlijke gegevens worden opgeslagen op uw computer. Ook kan die informatie vanaf uw computer door websitebeheerders worden uitgelezen. Dit gebeurt met behulp van cookies. Dit zijn kleine bestanden die internetinstellingen opslaan op uw computer.</p>

				<p><h3>2 soorten cookies</h3></p>

				<p>Er zijn cookies die uw voorkeuren (zoals taalinstellingen) en uw ingevulde (persoonlijke) gegevens opslaan. Dat kan handig zijn bij het vullen van een boodschappenmandje in een internetwinkel. Of als ‘geheugen’ wanneer u op de betreffende website in de toekomst terugkeert.</p>

				<P>Daarnaast zijn er cookies die gebruikt worden voor het opstellen van bezoekersprofielen en het volgen van surf- en zoekgedrag. Al deze persoonlijke gegevens kunnen, al dan niet tegen betaling, gedeeld worden met commerciële partijen en advertentienetwerken.</P>

				<p><h3>Toestemming voor plaatsen cookies</h3></p>

				<p>Sinds 5 juni 2012 moeten op grond van de Telecommunicatiewet websites u informeren als zij cookies willen plaatsen die bijvoorbeeld uw surfgedrag bijhouden. Zij mogen deze alleen plaatsen als u hiervoor toestemming geeft.</p>

				<p>Websites hebben uw toestemming niet nodig voor cookies die noodzakelijk zijn om een dienst of webshop te laten functioneren. Dit zijn bijvoorbeeld bestanden die bijhouden wat u in uw virtuele winkelwagentje heeft.</p>

				<p><h3>Toestemming verwerken persoonsgegevens</h3></p>

				<p>Als er met cookies persoonsgegevens worden verwerkt, is naast de Telecommunicatiewet ook de Wet bescherming persoonsgegevens van toepassing. Op grond van deze wet moet degene die persoonsgegevens verwerkt voor die verwerking in de regel zogenoemde ondubbelzinnige toestemming hebben.</p>

				<p>Sinds 1 januari 2013 geldt hierbij voor cookies die surfgedrag volgen een rechtsvermoeden: de wet gaat er dan vanuit dat wie een cookie plaatst om surfgedrag te volgen, dat doet om persoonsgegevens te verwerken. Dit betekent dat voor cookies die surfgedrag volgen in de regel ondubbelzinnige toestemming vereist is, tenzij de plaatser van de cookies kan bewijzen dat hij geen persoonsgegevens verwerkt.</p>

				<p><h3>Melden veiligheidsinbreuken</h3></p>

				<p>Sinds 5 juni 2012 moeten telecombedrijven veiligheidsinbreuken melden (meldplicht veiligheidsinbreuken). Zij worden verplicht het verlies, ongewild vrijkomen, diefstal of misbruik van persoonsgegevens direct te melden aan de toezichthouder Autoriteit Consument &amp; Markt (ACM). Het doel hiervan is de kwaliteit en beveiliging van netwerken en diensten inzichtelijk te maken en te optimaliseren. Daardoor zal het vertrouwen in en daarmee het gebruik van ICT-diensten toenemen.</p>

				<p>Ook moeten bedrijven gebruikers informeren over de veiligheidsinbreuk(en) als de inbreuk naar verwachting nadelige gevolgen zal hebben voor hun persoonlijke levenssfeer (bijvoorbeeld misbruik van creditcardgegevens). Daarnaast moeten gebruikers worden geïnformeerd over de voorzorgsmaatregelen die zij kunnen nemen om negatieve gevolgen van de veiligheidsinbreuk te beperken.</p>
			</div>
		</div>


		<p><a href='{{ path('homepage') }}'>Ga terug naar homepage</a></p>
	</div>
{% endblock %}