{% extends "base.html.twig" %}
{% block body %}
	<div class="container-fluid">
		<p><a href='{{ path('homepage') }}'>Ga terug naar homepage</a></p>

		<div id="logo">
			<a href='{{ path('homepage') }}'><img src='{{ asset('images/Logo klein.png') }}' class="img-border"></a>
		</div>
		<div id="contentwrapper">
			<div id="content">
				<p><h2>Privacybeleid</h2></p>

				<p><!--Laatst aangepast:-->09 juni 2017 <!--(Bekijk archief)--></p>

				<p>U kunt onze services op verschillende manieren gebruiken: om informatie te zoeken en te delen, met andere mensen te communiceren of nieuwe inhoud te maken. Wanneer u gegevens met ons deelt, bijvoorbeeld door een webmaster-account te maken, kunnen we die services nog beter maken, om u relevantere zoekresultaten en advertenties te laten zien, u in contact te brengen met andere mensen of het delen van inhoud sneller en gemakkelijker te maken. We willen dat u bij het gebruik van onze services duidelijk kunt zien hoe we uw gegevens gebruiken en op welke manieren u uw privacy kunt beschermen.</p>
 
				<p><h3>In ons Privacybeleid wordt uitgelegd:</h3></p>
 
				<p>Welke gegevens we verzamelen en waarom we die verzamelen.</p> 
				<p>Hoe we die gegevens gebruiken.</p> 
				<p>De keuzemogelijkheden die we bieden, waaronder hoe u gegevens kunt opvragen en bijwerken.</p>

				<p>We hebben geprobeerd het zo eenvoudig mogelijk te houden, maar als u niet bekend bent met termen zoals cookies, IP-adressen, pixeltags en browsers, moet u eerst informatie over deze belangrijke termen lezen.</p><p>Uw privacy is belangrijk voor Varisho. Daarom vragen we u (ongeacht of u een nieuwe of bestaande gebruiker van Varisho bent) de tijd te nemen ons privacybeleid door te nemen. Als u vragen heeft, kunt u contact met ons opnemen.</p>
				 
				<p><h3>Gegevens die we verzamelen</h3></p>

				<p>We verzamelen gegevens om betere services te kunnen leveren aan al onze gebruikers, van het vaststellen van basisinformatie, zoals de taal die u spreekt, tot meer complexe dingen zoals welke advertenties u het nuttigst vindt of welke mensen online het belangrijkst zijn voor u.</p>
				 
				<p>We verzamelen gegevens op twee manieren:</p>
				 
				<p>Gegevens die u aan ons levert. Voor veel van onze services moet u zich bijvoorbeeld registreren voor een Webmaster-account. Wanneer u dit doet, vragen we u om persoonlijke gegevens, zoals uw naam, e-mailadres, telefoonnummer of creditcard.</p> 

				<p>Gegevens die we ontvangen op basis van uw gebruik van onze services. We kunnen gegevens verzamelen over de services die u gebruikt en de manier waarop u ze gebruikt, zoals wanneer u een website bezoekt die onze advertentieservices gebruikt of wanneer u onze advertenties en inhoud bekijkt en gebruikt.</p>

				<P><h3>Deze gegevens omvatten:</h3></P>
				 
				<p>Apparaatgegevens</p>
				 
				<p>We kunnen apparaatspecifieke gegevens verzamelen, zoals het hardwaremodel, de versie van het besturingssysteem, unieke apparaat-id’s en mobiele netwerkgegevens.</p>
				 
				<p>Logbestandsgegevens</p>
				 
				<p>Wanneer u onze services gebruikt of inhoud bekijkt die wordt geleverd door Varisho, kunnen we automatisch bepaalde gegevens in serverlogbestanden verzamelen en opslaan. Deze gegevens kunnen het volgende omvatten:</p> 
				<P>Details over hoe u onze service heeft gebruikt, zoals uw zoekopdrachten.</P> 
				<p>IP-adres (Internet Protocol).</p>
				<p>Gegevens over apparaatgebeurtenissen, zoals crashes, systeemactiviteit, hardware-instellingen, browsertype, browsertaal, de datum en tijd van uw verzoek en de verwijzende URL.</p> 
				<p>Cookies waarmee uw browser of uw Webmaster-account kan worden geïdentificeerd.</p>
				 
				<p>Lokale opslag</p>
				 
				<p>We kunnen gegevens (waaronder persoonlijke gegevens) lokaal verzamelen en opslaan op uw apparaat met mechanismen zoals browserwebopslag (waaronder HTML 5) en applicatiegegevenscaches.</p>
				 
				<p>Cookies en anonieme id’s</p> 

				<p>We gebruiken verschillende technologieën om gegevens te verzamelen en op te slaan wanneer u een Varisho-service bezoekt, waaronder het verzenden van een of meer cookies of anonieme id’s naar uw apparaat. We maken ook gebruik van cookies en anonieme id’s wanneer u services gebruikt die we aan onze partners aanbieden, zoals advertentieservices of Varisho-functies die op andere sites kunnen worden weergegeven.</p>

				<p><h3>Hoe we gegevens gebruiken die we verzamelen</h3></p>

				<p>We gebruiken de gegevens die we uit al onze services verzamelen om de services te leveren, te onderhouden, te beveiligen en te verbeteren, om nieuwe services te ontwikkelen en om Varisho en onze gebruikers te beschermen. We gebruiken deze gegevens ook om gepersonaliseerde inhoud aan u te leveren, zoals relevantere zoekresultaten en advertenties.</p> 
				<p>We kunnen de naam die u voor uw Webmaster-profiel opgeeft, gebruiken in alle services die we aanbieden waarvoor een Webmaster-account is vereist. Daarnaast kunnen we namen vervangen die eerder waren gekoppeld aan uw Webmaster-account, zodat u in al onze services op dezelfde manier wordt weergegeven.</p> 
				<p>Wanneer u contact opneemt met Varisho, kunnen we uw berichten vastleggen om te helpen bij het oplossen van problemen die u ondervindt. We kunnen uw e-mailadres gebruiken om u te informeren over onze services, bijvoorbeeld om u op de hoogte te stellen van aankomende wijzigingen of verbeteringen.</p> 
				<p>We gebruiken gegevens die worden verzameld uit cookies en andere technologieën, zoals pixeltags, om uw gebruikerservaring en de totale kwaliteit van onze services te verbeteren. Door uw taalvoorkeuren op te slaan, kunnen we onze services bijvoorbeeld weergeven in uw voorkeurstaal. Wanneer we u gepersonaliseerde advertenties laten zien, koppelen we geen cookie of anonieme id aan gevoelige categorieën, zoals categorieën op basis van ras, religie, seksuele geaardheid of gezondheid.</p> 
				<p>We kunnen persoonlijke gegevens uit een bepaalde service combineren met gegevens uit andere Varisho-services, waaronder persoonlijke gegevens, zodat u bijvoorbeeld gemakkelijker dingen kunt delen met mensen die u kent. We combineren DoubleClick-cookiegegevens niet met persoonlijke gegevens, tenzij u ons hiervoor uitdrukkelijk toestemming heeft gegeven.</p> 
				<p>We vragen u om toestemming voordat we gegevens gebruiken voor andere doeleinden dan die in dit Privacybeleid worden beschreven.</p>
				  
				<p><h3>Duidelijkheid en keuzemogelijkheden</h3></p>

				<p>Mensen maken zich op verschillende manieren zorgen over hun privacy. Het is ons doel duidelijk te zijn over de gegevens die we verzamelen, zodat u weloverwogen beslissingen kunt nemen over hoe uw gegevens worden gebruikt.</p> 
				<p>U kunt ook instellen dat uw browser alle cookies blokkeert, waaronder cookies die zijn gekoppeld aan onze services, of aangeeft wanneer we een cookie plaatsen. Het is echter belangrijk te onthouden dat veel van onze services mogelijk niet correct functioneren als uw cookies zijn uitgeschakeld. We kunnen uw taalvoorkeuren dan bijvoorbeeld niet onthouden.</p>
				 
				<p><h3>Gegevens die u deelt</h3></p>

				<p>Vergeet niet dat wanneer u gegevens openbaar deelt, deze kunnen worden geïndexeerd door zoekmachines.</p>
				 
				<p><h3>Uw persoonlijke gegevens openen en bijwerken</h3></p>

				<p>Wanneer u onze services gebruikt, proberen we u toegang te geven tot uw persoonlijke gegevens. Als die gegevens onjuist zijn, proberen we u te voorzien van manieren om deze gegevens snel bij te werken of te verwijderen, tenzij we die gegevens moeten bewaren voor legitieme zakelijke of juridische doeleinden. Wanneer u uw persoonlijke gegevens bijwerkt, kunnen we u vragen uw identiteit te verifiëren voordat we uw verzoek kunnen verwerken.</p>

				<p>We kunnen verzoeken weigeren die onredelijkerwijs worden herhaald, onevenredige technische inspanningen vereisen (zoals het ontwikkelen van een nieuw systeem of het aanbrengen van fundamentele wijzigingen in een bestaande handelswijze), de privacy van anderen in gevaar brengen of zeer onpraktisch zouden zijn (zoals verzoeken met betrekking tot gegevens die zich op back-uptapes bevinden).</p> 
				<p>Wanneer we u mogelijkheden kunnen geven voor het krijgen van toegang tot en het corrigeren van gegevens, doen we dit gratis, behalve in gevallen waar dit een onevenredige inspanning zou vereisen. We streven ernaar onze services te handhaven op een manier die gegevens beschermt tegen onopzettelijke of kwaadwillige vernietiging. Daarom is het mogelijk dat we, nadat u gegevens uit onze services heeft verwijderd, resterende kopieën niet onmiddellijk van onze actieve servers verwijderen en gegevens niet uit onze back-upsystemen verwijderen.</p>
				 
				<p><h3>Gegevens die we delen</h3></p>
				<p>We delen persoonlijke gegevens niet met bedrijven, organisaties en individuen buiten Varisho, behalve in een van de volgende omstandigheden:</p>
				 
				<p>Met uw toestemming</p>
				<p>We delen persoonlijke gegevens met bedrijven, organisaties of individuen buiten Varisho wanneer u ons toestemming heeft gegeven dit te doen. We hebben uitdrukkelijk toestemming nodig voor het delen van gevoelige persoonlijke gegevens.</p> 

				<p>Voor externe verwerking</p> 
				<p>We leveren persoonlijke gegevens aan onze partners of andere vertrouwde bedrijven of individuen zodat ze de gegevens voor ons kunnen verwerken, op basis van onze instructies en in overeenstemming met ons Privacybeleid en andere passende vertrouwelijkheids- en beveiligingsmaatregelen.</p>
				 
				<p>Om juridische redenen</p> 
				<p>We delen persoonlijke gegevens met bedrijven, organisaties of individuen buiten Varisho als we te goeder trouw van mening zijn dat toegang, gebruik, behoud of openbaarmaking van de gegevens redelijkerwijs nodig is om:</p> 
				<p>Te voldoen aan van toepassing zijnde wet- en regelgeving, wettelijke procedures of verzoeken van overheidsinstanties.</p> 
				<p>De van toepassing zijnde Servicevoorwaarden af te dwingen, waaronder het onderzoeken van mogelijke schendingen.</p> 
				<p>Fraude en technische of beveiligingsproblemen te detecteren, te voorkomen of anderszins aan te pakken.</p>
				<p>De rechten, eigendom of veiligheid van Varisho, onze gebruikers of het publiek te beschermen, zoals vereist of toegestaan volgens de wet.</p>

				<p>We kunnen verzamelde niet-persoonlijke gegevens openbaar en met onze partners delen, zoals uitgevers, adverteerders of aangesloten sites. We kunnen gegevens bijvoorbeeld openbaar delen om trends met betrekking tot het algemene gebruik van onze services te laten zien.</p> 
				<p>Als Varisho betrokken is bij een fusie, overname of verkoop van activa, blijven we de vertrouwelijkheid van persoonlijke gegevens waarborgen en stellen we de betreffende gebruikers op de hoogte voordat persoonlijke gegevens worden overgedragen of onderworpen aan een ander privacybeleid.</p>
				 
				<p><h3>Beveiliging van gegevens</h3></p>

				<p>We werken er hard aan Varisho en onze gebruikers te beschermen tegen ongeautoriseerde toegang tot of ongeautoriseerde aanpassing, openbaarmaking of vernietiging van gegevens die in ons bezit zijn.</p>
				 
				<p><h3>Toepassing</h3></p>

				<p>Ons Privacybeleid is van toepassing op alle services die worden geleverd door Varisho. en zijn partners, waaronder services die worden geleverd op andere sites, maar niet op services met een afzonderlijk privacybeleid waarin dit Privacybeleid niet is opgenomen.</p> 
				<p>Ons Privacybeleid is niet van toepassing op services die worden geleverd door andere bedrijven of individuen, waaronder producten of sites die aan u kunnen worden weergegeven in zoekresultaten, sites die Varisho-services bevatten of andere sites waarnaar een link is opgenomen in onze services.</p>
				<p>Ons Privacybeleid dekt niet het gegevensbeleid van andere bedrijven en organisaties die adverteren in onze services en die cookies, pixeltags en andere technologieën kunnen gebruiken om relevante advertenties weer te geven en te leveren.</p>

				<p><h3>Handhaving</h3></p>

				<p>We controleren regelmatig of we voldoen aan ons Privacybeleid. Wanneer we formele schriftelijke klachten ontvangen, zullen we contact opnemen met de persoon die de klacht heeft ingediend om vervolgacties te bespreken. We werken samen met de betreffende regelgevende instanties, waaronder lokale autoriteiten voor gegevensbescherming, om klachten met betrekking tot de overdracht van persoonlijke gegevens te verhelpen die we niet rechtstreeks met onze gebruikers kunnen oplossen.</p>
				 
				<p><h3>Wijzigingen</h3></p>

				<p>Ons Privacybeleid kan van tijd tot tijd worden gewijzigd. We beperken uw rechten onder dit Privacybeleid niet zonder uw uitdrukkelijke toestemming. We zullen alle wijzigingen van het Privacybeleid op deze pagina aangeven en, als de wijzigingen aanzienlijk zijn, zullen we zorgen voor een meer opvallende kennisgeving (inclusief, voor bepaalde services, kennisgevingen via e-mail over de wijzigingen van het Privacybeleid). We bewaren ook eerdere versies van dit Privacybeleid in een archief dat u kunt raadplegen.</p> 
			</div>
		</div>


		<p><a href='{{ path('homepage') }}'>Ga terug naar homepage</a></p>
	</div>
{% endblock %}